DATABASE_URL=postgresql+asyncpg://nfse:nfse@localhost:5432/nfse
DATABASE_URL_TEST=postgresql+asyncpg://nfse:nfse@localhost:5432/nfse_test
FERNET_KEY=3K6-S5BBYs15l5zCXgvEVrjuhf662A30arPJXxVbQGU=
JWT_SECRET=EwR-IRj1k8Znd0FQs3DjYPYktyN77v4geaW2XaH67M4HCQQ7bgG63V4RZ7boVMOh
JWT_TTL_HORAS=8
